@font-face {
    font-family: Dune Rise;
    src: url("font/dune_rise/Dune_Rise.ttf");
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Dune Rise';
    color: white;
    overflow: auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.577), rgba(0, 0, 0, 0.577)), 
                     url(videos/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

@media screen and (min-width: 1025px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    left: 0;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

main{
    padding: 10vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: fit-content;
}
.img-frame{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin-top: 5vh;
    background-size: cover;
    background-position: center;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.char-info{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
    font-size: 16px;
}

p{
    font-family: Georgia;
}
}
@media screen and (max-width: 1024px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    left: 0;
}

#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}

main{
    padding: 10vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: fit-content;
}
.img-frame{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin-top: 5vh;
    background-size: cover;
    background-position: center;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.char-info{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
    font-size: 16px;
}

p{
    font-family: Georgia;
}
}
@media screen and (max-width: 768px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    left: 0;
}

#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}

main{
    padding: 10vh 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: fit-content;
}
.img-frame{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin-top: 5vh;
    background-size: cover;
    background-position: center;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.char-info{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 80%;
    font-size: 16px;
}

p{
    font-family: Georgia;
}
}
@media screen and (max-width: 480px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    left: 0;
}

#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}

main{
    padding: 10vh 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: fit-content;
}
.img-frame{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin-top: 5vh;
    background-size: cover;
    background-position: center;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.char-info{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 80%;
    font-size: 16px;
}

p{
    font-family: Georgia;
}
}