@font-face {
    font-family: Dune Rise;
    src: url("font/dune_rise/Dune_Rise.ttf");
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Dune Rise';
    color: white;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.557), rgba(0, 0, 0, 0.557)), url(img/bg-char.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media screen and (min-width: 1025px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    left: 0;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}
section{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}
.poster-holder{
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    width: 70vw;
}

.poster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section li{
    max-width: 33.3%;
    border-radius: 24px;
    margin-top: 20px;
    animation: up-and-down 2.5s alternate infinite;
    transition: transform;
}


img{
    width: 18vw;
    height: 35vh;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
span{
    padding: 10px 0;
}

section li:hover{
    scale: 1.03;
}
}
@media screen and (max-width: 1024px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    left: 0;
}

#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}

section{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}
.poster-holder{
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    width: 80vw;
}

.poster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section li{
    max-width: 33.3%;
    border-radius: 24px;
    margin-top: 20px;
    animation: up-and-down 2.5s alternate infinite;
    transition: transform;
}


img{
    width: 25vw;
    height: 35vh;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
span{
    padding: 10px 0;
}

section li:hover{
    scale: 1.03;
}
}
@media screen and (max-width: 768px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    left: 0;
}

#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}

section{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}
.poster-holder{
    overflow: scroll;
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    width: 90vw;
}

.poster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section li{
    border-radius: 24px;
    margin-top: 20px;
    animation: up-and-down 2.5s alternate infinite;
    transition: transform;
}


img{
    width: 30vw;
    height: 20vh;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
span{
    padding: 10px 0;
}

section li:hover{
    scale: 1.03;
}
}
@media screen and (max-width: 480px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    left: 0;
}

#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}

section{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}
.poster-holder{
    overflow: scroll;
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    width: 95vw;
}

.poster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section li{
    border-radius: 24px;
    margin-top: 20px;
    animation: up-and-down 2.5s alternate infinite;
    transition: transform;
}


img{
    width: 30vw;
    height: 20vh;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
span{
    padding: 10px 0;
    font-size: 10px;
}

section li:hover{
    scale: 1.03;
}
}



@keyframes up-and-down{
    from{
        transform: translateY(0)
    }to{
        transform: translateY(-2%)
    }
}