@font-face {
    font-family: Dune Rise;
    src: url("font/dune_rise/Dune_Rise.ttf");
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Dune Rise';
    color: white;
    overflow: hidden;
}
@media screen and (min-width: 1025px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    left: 0;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

section{
    position: absolute;
    top: 10%;
}

.img-box{
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    
}


.column{
    flex: 20%;
    max-width: 33.3%;
    flex-direction: column;

}

.group{
    will-change: transform;
    animation: scroll 20s linear infinite;
}




.column img{
    vertical-align: middle;
    padding: 4px 4px;
    width: 30vw;
    border-radius: 10px;
    flex-direction: column;
}
}
@media screen and (max-width: 1024px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    right: 0;
}
#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}
section{
    position: absolute;
    top: 10%;
}

.img-box{
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    
}


.column{
    flex: 20%;
    max-width: 33.3%;
    flex-direction: column;

}

.group{
    will-change: transform;
    animation: scroll 20s linear infinite;
}




.column img{
    vertical-align: middle;
    padding: 4px 4px;
    width: 30vw;
    border-radius: 10px;
    flex-direction: column;
}
}
@media screen and (max-width: 768px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    right: 0;
}
#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}
section{
    position: absolute;
    top: 10%;
}

.img-box{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    
}


.column{
    flex: 33.3%;
    max-width: 33.3%;
    flex-direction: column;

}

.group{
    will-change: transform;
    animation: scroll 20s linear infinite;
}




.column img{
    vertical-align: middle;
    padding: 4px 4px;
    width: 30vw;
    border-radius: 10px;
    flex-direction: column;
}
}
@media screen and (max-width: 480px) {
    
header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
}

nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    right: 0;
}
#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}
section{
    position: absolute;
    top: 10%;
}

.img-box{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    
}


.column{
    flex: 33.3%;
    max-width: 50%;
    flex-direction: column;

}

.group{
    will-change: transform;
    animation: scroll 20s linear infinite;
}




.column img{
    vertical-align: middle;
    padding: 4px 4px;
    width: 30vw;
    border-radius: 10px;
    flex-direction: column;
}
}


@keyframes scroll {
    from {transform: translateY(0);}
    to {transform: translateY(-100%);}
}
