@font-face {
    font-family: Dune Rise;
    src: url("font/dune_rise/Dune_Rise.ttf");
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Dune Rise';
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.577), rgba(0, 0, 0, 0.577)), 
                     url(videos/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media screen and (min-width: 1025px){
    header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
    position: relative;
}

main{
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: bg-animation 15s linear infinite;
}
h1{
    font-family: "Dune Rise";
    color: rgb(255, 255, 255);
    text-shadow: 1px 5px 10px #e040fb;
    font-size: calc(23px + 2vw);
}

p{
    font-size: 10px;
    width: 55VW;
    text-align: center;
    color: white;
    line-height: 30px;
}


nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    left: 0;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}


.video-box{
    height: 100%;
    padding: 5% 0;

}
.holder{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;

}

.video-holder{
    margin-top: 15px;
    width: 22vw;
    height: auto;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}
span{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
video{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 22vw;
    height: auto;
}

.vid:hover{
    transform: scale(1.05);
    transition: transform 1ms;
}
}
@media screen and (max-width: 1024px){
    header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
    position: relative;
}

main{
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: bg-animation 15s linear infinite;
}
h1{
    font-family: "Dune Rise";
    color: rgb(255, 255, 255);
    text-shadow: 1px 5px 10px #e040fb;
    font-size: calc(23px + 2vw);
}

p{
    font-size: 10px;
    width: 55VW;
    text-align: center;
    color: white;
    line-height: 30px;
}


nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

nav #menu{
    position: absolute;
    right: 0;
}

#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}
.video-box{
    height: 100%;
    padding: 10% 0;

}
.holder{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;

}

.video-holder{
    margin-top: 15px;
    width: 22vw;
    height: auto;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}
span{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
video{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 22vw;
    height: auto;
}

.vid:hover{
    transform: scale(1.05);
    transition: transform 1ms;
}
}
@media screen and (max-width: 768px){
    header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
    position: relative;
}

main{
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: bg-animation 15s linear infinite;
}
h1{
    font-family: "Dune Rise";
    color: rgb(255, 255, 255);
    text-shadow: 1px 5px 10px #e040fb;
    font-size: calc(23px + 2vw);
}

p{
    font-size: 10px;
    width: 55VW;
    text-align: center;
    color: white;
    line-height: 30px;
}


nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

nav #menu{
    position: absolute;
    right: 0;
}

#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}


.video-box{
    height: 100%;
    padding: 20% 0;

}
.holder{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    flex-direction: row;
}

.video-holder{
    margin-top: 15px;
    width: 40vw;
    height: auto;
    border-radius: 24px;
    display: flex;
    flex-direction: column;

}
span{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 10px;
}
video{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 40vw;
    height: auto;
}

.holder :nth-child(10){
    order: 11;
}
.holder :nth-child(11){
    order: 10;
}


.vid:hover{
    transform: scale(1.05);
    transition: transform 1ms;
}
}
@media screen and (max-width: 480px){
    header{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 1;
    position: relative;
}

main{
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: bg-animation 15s linear infinite;
}
h1{
    font-family: "Dune Rise";
    color: rgb(255, 255, 255);
    text-shadow: 1px 5px 10px #e040fb;
    font-size: calc(23px + 2vw);
}

p{
    font-size: 10px;
    width: 55VW;
    text-align: center;
    color: white;
    line-height: 30px;
}


nav{
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    
}

nav #menu{
    position: absolute;
    right: 0;
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

li{
    list-style-type: none;
    font-family: "Dune Rise";
}

a:hover{
    color: #e040fb;
}
nav #logo{
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 3vw;
    background-image: url("img/logo.png");
    background-size: cover;
}

#mobile-menu li a{
    color: #fff;
}
#mobile-menu{
    padding: 30px 0;
}

.video-box{
    height: 100%;
    padding: 20% 0;

}
.holder{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    flex-direction: row;
}

.video-holder{
    margin-top: 15px;
    width: 40vw;
    height: auto;
    border-radius: 24px;
    display: flex;
    flex-direction: column;

}
span{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 10px;
}
video{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 40vw;
    height: auto;
}

.holder :nth-child(10){
    order: 11;
}
.holder :nth-child(11){
    order: 10;
}


.vid:hover{
    transform: scale(1.05);
    transition: transform 1ms;
}
}


